# Database
DATABASE_URL=

# Auth
ADMIN_USERNAME=
ADMIN_PASSWORD=

# Email
EMAIL_API_KEY=
EMAIL_FROM_ADDRESS=
EMAIL_TO_ADDRESS=
EMAIL_SUBJECT_PREFIX=

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
BLOB_STORE_ID=
BLOB_WEBHOOK_PUBLIC_KEY=
